<%= form_tag cities_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDUo7lYHilY0a7Gh0n-bpFhmyccbYtwmXY
    &center=<%= @coord1 %>,<%= @coord2 %>&zoom=9">
</iframe>

<br>

<section class="apicontent">
  <div class="tabs tabs-style-bar">
    <nav>
      <ul>
        <li><a href="#section-bar-1" class="icon icon-instagram"><span>Instagram</span></a></li>
        <li><a href="#section-bar-2" class="icon icon-twitter"><span>Twitter</span></a></li>
        <li><a href="#section-bar-3" class="icon icon-nyt"><span>New York TImes</span></a></li>
      </ul>
    </nav>
    <div class="content-wrap">
      <section id="section-bar-1">
        <% if @instagram.present? %>
          <% @instagram.each do |instagram| %>
              <iframe src="<%= instagram.link %>/embed/" width="426" height="520" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
              <!-- <% if instagram.caption %>
                <%= instagram.caption.text %>
              <% end %>
              <%= time_ago_in_words(DateTime.strptime(instagram.created_time,'%s')) %> ago -->
          <% end %>
        <% end %>
      </section>
      <section id="section-bar-2">
        <% if @instagram.present? %>
          <% @twitter.each do |twitter| %>
              <blockquote class="twitter-tweet"><a href="<%= twitter.url %>"></a></blockquote>
          <% end %>
        <% end %>
      </section>
      <section id="section-bar-3"><p>3</p></section>
    </div><!-- /content -->
  </div><!-- /tabs -->
</section>

<br>


<script>
  (function() {

    [].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
      new CBPFWTabs( el );
    });

  })();
</script>

<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

