<h1>Listing cities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= city.country %></td>
        <td><%= link_to 'Show', city %></td>
        <td><%= link_to 'Edit', edit_city_path(city) %></td>
        <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_city_path %>

<br>

<%= form_tag cities_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDUo7lYHilY0a7Gh0n-bpFhmyccbYtwmXY
    &center=<%= @coord1 %>,<%= @coord2 %>&zoom=9">
</iframe>



<br>

<% if @instagram.present? %>
  <% @instagram.each do |instagram| %>
      <iframe src="<%= instagram.link %>/embed/" width="426" height="520" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
      <!-- <% if instagram.caption %>
        <%= instagram.caption.text %>
      <% end %>
      <%= time_ago_in_words(DateTime.strptime(instagram.created_time,'%s')) %> ago -->
  <% end %>
<% end %>


